.Input {
  width: 460px;
}

.Input .material-icons.prefix {
  top: calc(1.5rem - 12px);
  color: #9e9e9e;
}

.Input.input-field input[type="text"] {
  font-size: 20px;
  font-weight: 300;
}

.Input.input-field
  input[type="text"]:not(.browser-default):focus:not([readonly])
  + label {
  color: #0168ab;
}

.Input.input-field .prefix.active {
  color: #0168ab;
}

.Input.input-field
  input[type="text"]:not(.browser-default):focus:not([readonly]) {
  border-bottom: 1px solid #0168ab;
  box-shadow: 0 1px 0 0 #0168ab;
}
